.well{
    background-color: whitesmoke;
}
#Result{
    background-color: lightgrey;
    font-weight: 600;
    padding: 2%;
    font-size: 21px;
    border-color: black;
    
}
.panel-footer{
    text-align: center;

}
.container{
    background-color:black;
}