.panel-body{
    background-color: darkgrey;
}
.panel-heading{
    color: teal;
}
.p{
    font-style: italic;
}
h3{
    font-style: oblique;
}
.well{
    background-color: whitesmoke;
}
.panel-footer{
    text-align: center;
}
.container{
    background-color:black;
}
#Result{
    background-color: lightgrey;
    font-weight:bold;
    font-size: 21px;
    padding: 2%;
    border-color: black;
    border-radius: 8px;
}